<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add student to team</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                LOGGED PERSON
                <div class="content_option">
                   <a href="index.html">Logout</a>
                </div> 
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">List attendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">List students</a></li>
                            <li><a href="list_teams.html">List teams</a></li>
                            <li><a href="view_my_grades.html">View my grades</a></li>
                        <li><a href="view_my_attendance.html">View my attendance</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">List mentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">List assignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">List submission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">List checkpoint</a></li>

                    </ul>
                </nav>
            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>Choose team to add [Student name, Student surname]</h2>
                </div>
                <table>
                    <tr>
                        <th>Index</th>
                        <th>Team name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <a onclick="addToTeam(this.innerHTML)" href="#">Jakkolwiek</a>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><a onclick="addToTeam(this.innerHTML)" href="#">5am</a></td>
                    </tr>
                </table>
                <br/>
                <h3 id="added_to_team"></h3>
           </section>
        </main>
        <footer>
           <p>&copy; JAKKOLWIEK 2017</p>
       </footer>
    </body>
</html>
