<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header id="logo"><img id="rotate" src="codecool_logo_symbol.png" height="550px"></header>
        <div class="login">
                <input type="text" placeholder="username" name="user"><br>
                <input type="password" placeholder="password" name="password"><br>
                <a href="main.html" target="self"><input type="button" value="Login"></a>
        </div>
    </body>
</html>
