<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                LOGGED PERSON
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">listAttendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">listStudents</a></li>
                            <li><a href="list_teams.html">listTeams</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">listMentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">listAssignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">listSubmission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">listCheckpoint</a></li>

                    </ul>
                </nav>

            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>Attendance list</h2>
                </div>
                <div class="content_option">
                    <a href="check_attendance.html">Check attendance</a>
                </div>
                <table>
                    <tr>
                        <th>Student name</th>
                        <th>Student surname</th>
                        <th>Attendance</th>

                    </tr>
                    <tr>
                        <td><p>Jan</p></td>
                        <td><p>Kowalski</p></td>
                        <td><p>80%</p></td>
                     
                    </tr>
                    <tr>
                        <td><p>Ryszard</p></td>
                        <td><p>Nowak</p></td>
                        <td><p>70%</p></td>
                    </tr>
                </table>
            </section>
        </main>
        <footer>
            <p>copyright</p>
        </footer>
    </body>
</html>
