<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                LOGGED PERSON
                <div class="content_option">
                   <a href="index.html">Logout</a>
                </div> 
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">List attendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">List students</a></li>
                            <li><a href="list_teams.html">List teams</a></li>
                            <li><a href="view_my_grades.html">View my grades</a></li>
                        <li><a href="view_my_attendance.html">View my attendance</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">List mentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">List assignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">List submission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">List checkpoint</a></li>

                    </ul>
                </nav>

            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>List of submissions</h2>
                </div>
                <table>
                    <tr>
                        <th>Index</th>
                        <th>Assignment name</th>
                        <th>Student name</th>
                        <th>Delivery date</th>
                        <th>Grade</th>

                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Python OO Geometry</td>
                        <td>Paweł Lasota</td>
                        <td> 10-02-2017</td>
                        <td><a href="grade.html">Grade</a></td>
                        
                    </tr>
                    <tr>
                    <tr>
                        <td>1</td>
                        <td>Python</td>
                        <td>Paweł Polakiewicz</td>
                        <td>10-02-2017</td>
                        <td><a href="grade.html">Grade</a></td>
                    </tr>
                </table>
                
            </section>
        </main>
        <footer>
           <p>&copy; JAKKOLWIEK 2017</p>
       </footer>
    </body>
</html>
