<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                LOGGED PERSON
                <div class="content_option">
                   <a href="index.html">Logout</a>
                </div> 
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">listAttendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">listStudents</a></li>
                            <li><a href="list_teams.html">listTeams</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">listMentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">listAssignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">listSubmission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">listCheckpoint</a></li>

                    </ul>
                </nav>

            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>List of assignments</h2>
                </div>
                <table>
                    <tr>
                        <th>Name of assignment</th>
                        <th>Delivery date</th>
                        <th>Submission</th>
                    </tr>
                    <tr>
                        <td>CCMS</td>
                        <td>1st April</td>
                        <td><a href="submit_assignment.html">Submit assignment</a></td>  
                    </tr>
                </table>
                <div class="content_option">
                    <a href="add_assignment.html">Add assignment</a>
                </div>
            </section>
        </main>
        <footer>
            <p>copyright</p>
        </footer>
    </body>
</html>