<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                <img src="img/foto.png" width="50%" height="50%">
                <div class="content_option">
                   <span class="bottonLogOut">
                        <a href="index.html"><input type="button" value="Log Out"></a>
                    </span>
                </div> 
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">List attendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">List students</a></li>
                            <li><a href="list_teams.html">List teams</a></li>
                            <li><a href="view_my_grades.html">View my grades</a></li>
                        <li><a href="view_my_attendance.html">View my attendance</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">List mentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">List assignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">List submission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">List checkpoint</a></li>

                    </ul>
                </nav>

            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>List of assignments</h2>
                </div>
                <hr>
                <span class="bottonToNewView">
                    <a href="add_assignment.html"><input type="button" value="Add assignment"></a>
                </span>
                <table>
                    <tr>
                        <th>Name of assignment</th>
                        <th>Delivery date</th>
                        <th>Max points</th>
                        <th>Submission</th>
                    </tr>
                    <tr>
                        <td>CCMS</td>
                        <td>1st April</td>
                        <td>58</td>
                        <td>
                            <span class="bottonLogOut">
                                <a href="submit_assignment.html"><input type="button" value="Submit"></a>
                            </span>
                        </td>  
                    </tr>
                    <tr>
                        <td>PYTHON OO GEOMETRY</td>
                        <td>1st April</td>
                        <td>58</td>
                        <td>
                            <span class="bottonLogOut">
                                <a href="submit_assignment.html"><input type="button" value="Submit"></a>
                            </span>
                        </td>  
                    </tr>
                    <tr>
                        <td>PYTHON</td>
                        <td>1st April</td>
                        <td>58</td>
                        <td>
                            <span class="bottonLogOut">
                                <a href="submit_assignment.html"><input type="button" value="Submit"></a>
                            </span>
                        </td>   
                    </tr>
                </table>

            </section>
        </main>
        <footer>
           <p>&copy; JAKKOLWIEK 2017</p>
       </footer>
    </body>
</html>