html {
	margin: 40px;
	padding: 0;
	}

body {
  font-family: 'Lato', sans-serif;
  background-image: url(white-wallpapers-4.jpg);
  background-color: #ffffff;;
  background-attachment: fixed;
  background-size: 1800px 920px;
  width: 960px;
  margin: 0 auto;
}
main{
   display: flex;
}
header {
    text-align: center;
    margin-bottom:40px;

    
}
header#login {
    text-align: left;
    background-color: rgba(89, 100, 237, 0.12);
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    
}


aside#menuBar{
    display: inline-block;
    background-color: rgba(193, 193, 193, 0);
    width: 200px;
    padding: 0px 5px 0px 0px;
    margin-bottom: 0px;
    
}


section#content{
    display: inline-block;
    background-color: rgba(181, 181, 181, 0.39);
    width: 760px;
    min-height: 960px;
    padding: 20px;
    
}

footer{
    background-color: rgba(2, 2, 2, 0.04);
    padding: 1px;

}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
    color: rgba(255, 6, 6, 0.67);
}


p {
}


nav {
   background-color: rgba(24, 77, 255, 0.09);
   text-align: left;
   min-height: 960px;
   padding: 1px;
   padding-bottom: 1px;
   margin-bottom: 0px;
   margin-top: 5px;
}

nav ul {
    padding: 10px;
}

nav li {
    list-style: none;
    padding: 4px;
    margin-left:20px;
}


table {
    width: 700px;
    border: 1px solid black;
    border-collapse: collapse;
}
section#content table, th, td {
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
}

section#content table td {
    background-color: white;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
}


section#content h3 {
    font-size: 20px;
}

section#content form {
    font-size: 16px;
}

            .content_title {
                display: inline-block;
                box-sizing: border-box;
                width: 300px;
                height: 90px;
            }

            .content_option {
                display: inline-block;
                box-sizing: border-box;
                width: 300px;
                height: 90px;
                float: right;
                /*text-align: right;*/
                text-align: center;
                vertical-align: middle;
                line-height: 90px;
                padding: 10px;
            }
