html {
	margin: 40px;
	padding: 0;
	}

body {
  font-family: 'Lato', sans-serif;
  background-image: url(white-wallpapers-4.jpg);
  background-color: #ffffff;;
  background-attachment: fixed;
  background-size: 1800px 920px;
  width: 960px;
  margin: 0 auto;
}
main{
   display: flex;
}
header {
    text-align: center;
    margin-bottom:40px;

    
}
header#login {
    text-align: left;
    background-color: rgba(89, 100, 237, 0.12);
    min-height: 100px;
    margin: 0px;
    padding: 0px;
    
}

aside#menuBar{
    display: inline-block;
    background-color: rgba(193, 193, 193, 0);
    width: 200px;
    padding: 0px 5px 0px 0px;
    margin-bottom: 0px;
    
}


section#content{
    display: inline-block;
    background-color: rgba(181, 181, 181, 0.39);
    width: 760px;
    min-height: 960px;
    padding: 20px;
    
}

footer{
    background-color: rgba(2, 2, 2, 0.04);
    padding: 1px;

}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
    color: rgba(255, 6, 6, 0.67);
}


p {
 
    
}


nav {
   background-color: rgba(24, 77, 255, 0.09);
   text-align: left;
   min-height: 960px;
   padding: 1px;
   padding-bottom: 1px;
   margin-bottom: 0px;
   margin-top: 5px;


}

nav ul {
    padding: 10px;
}

nav li {
    list-style: none;
    padding: 4px;
    margin-left:20px;
    

}


table {
    width: 600px;
    border: 1px solid black;
    border-collapse: collapse;
}
section#content table, th, td {
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
}

section#content table td {
    background-color: white;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;

}


section#content h3 {
    font-size: 20px;
}

section#content form {
    font-size: 16px;
}


  <style>
        header#logo{
            position:relative;
            top: 0px;
            left: 150px;
            height: 0px;
            width: 350px;
            padding: 10px;
            z-index: 0;
            
        }
        .login{
            position:relative;
            top: 130px;
            left: 300px;
            height: 300px;
            width: 350px;
            padding: 10px;
            z-index: 1;
        }

        .login input[type=text]{
            width: 250px;
            height: 30px;
            background: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.03);
            border-radius: 2px;
            color: #000000;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top: 10px;
        }

        .login input[type=password]{
            width: 250px;
            height: 30px;
            background: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.03);
            border-radius: 2px;
            color: #000000;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top: 10px;
        }

        .login input[type=button]{
            width: 260px;
            height: 35px;
            background: rgba(0, 0, 0, 0.05);
            border: 1px solid rgba(0, 0, 0, 0.4);
            cursor: pointer;
            border-radius: 2px;
            color: #4e4e4e;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 6px;
            margin-top: 10px;
        }

        .login input[type=button]:hover{
            opacity: 0.8;
        }

        .login input[type=button]:active{
            opacity: 0.6;
        }

        .login input[type=text]:focus{
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.9);
        }

        .login input[type=password]:focus{
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.9);
        }

        .login input[type=button]:focus{
            outline: none;
        }


