<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>

    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                <img src="img/foto.png" width="50%" height="50%">
                <div class="content_option">
                   <a href="index.html">Logout</a>
                </div>  
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <hr>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">List attendance</a></li>
                        <hr>
                        <h3>Students</h3>
                            <li><a href="list_students.html">List students</a></li>
                            <li><a href="list_teams.html">List teams</a></li>
                            <li><a href="view_my_grades.html">View my grades</a></li>
                        <li><a href="view_my_attendance.html">View my attendance</a></li>
                        <hr>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">List mentors</a></li>
                        <hr>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">List assignment</a></li>
                        <hr>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">List submission</a></li>
                        <hr>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">List checkpoint</a></li>

                    </ul>
                </nav>

            </aside>
            <section id="content">
                 <div class="content_title">
                    <h2>Submit assignment</h2>
                </div>
                <hr>
                <form>
                  <fieldset>
                    <br>
                    <h2>Name:</h2>
                        <input type="text"><br><br>
                    <h2>Answer:</h2>
                        <input type="text"><br><br><br>
                    <span class="bottonToNewView">
                        <a href="#"><input type="button" value="Submit"></a>
                    </span>

                  </fieldset>
                </form> 
            </section>
        </main>
        <footer>
            <p>&copy; JAKKOLWIEK 2017</p>
        </footer>
    </body>
</html>