<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Student details</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <header><img src="logo-large.png"/></header>
        <main>
            <aside id="menuBar">
                <header id="login">
                LOGGED PERSON
                <div class="content_option">
                   <a href="index.html">Logout</a>
                </div>  
                </header>
                <nav>
                    <ul>
                        <li><a href="main.html"><b>Main page</b></a></li>
                        <h3>Class</h3>
                            <li><a href="list_attendance.html">listAttendance</a></li>
                        <h3>Students</h3>
                            <li><a href="list_students.html">listStudents</a></li>
                            <li><a href="list_teams.html">listTeams</a></li>
                        <h3>Mentors</h3>
                            <li><a href="list_mentors.html">listMentors</a></li>
                        <h3>Assignment</h3>
                            <li><a href="list_assignment.html">listAssignment</a></li>
                        <h3>Submission</h3>
                            <li><a href="list_submission.html">listSubmission</a></li>
                        <h3>Checkpoint</h3>
                            <li><a href="list_checkpoint.html">listCheckpoint</a></li>
                    </ul>
                </nav>
            </aside>
            <section id="content">
                <div class="content_title">
                    <h2>Choosen student name, surname</h2>
                </div>
                <div class="content_option">
                    <a href="show_student_statistics.html">Show students statistics</a>
                </div>
                <table>
                    <tr>
                        <th>Student name</th><td>Jan</td>
                    </tr>
                    <tr>
                        <th>Student surname</th><td>Jan</td>
                    </tr>
                    <tr>
                        <th>Gender</th><td>Male</td>
                    </tr>
                    <tr>
                        <th>Date of birth</th><td>1990-02-04</td>
                    </tr>
                    <tr>
                        <th>Email</th><td>jan.kowalski@gmail.com</td>
                    </tr>

                    <tr>
                        <th>Login</th><td>jasiu</td>
                    </tr>
                    <tr>
                        <th>Password</th><td>fafasiu</td>
                    </tr>

                </table>
            </section>
        </main>
        <footer>
            <p>copyright</p>
        </footer>
    </body>
</html>
