{% extends "base.html" %}
{% block title %}
    Add new assignment
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="post">
    <table class="table">
        <tr><td>
        <h2>Add new assignment</h2>
        </td>
        </tr>
        <tr>
            <td>
             <label>Name
                 <input type="text" name="name" size="35" class="form-control" placeholder="Assignment name" required>
             </label>
            </td>
        </tr><tr><td>
             <label>Type
                 <select name="type" class="form-control form-group select" required>
                     <option>individual</option>
                     <option>group</option>
                 </select>
             </label>
    </td></tr><tr><td>
            <label>Max points
                <input type="text" class="form-control" size="35" name="max_points" placeholder="Assignment max points" required>
            </label>
    </td></tr><tr><td>
            <label>Delivery date
                <input type="date" class="form-control select" name="date" placeholder="Assignment delivery date" required>
            </label>
    </td></tr><tr><td>
            <label>Content
                <input type="text" class="form-control" size="35" name="content" placeholder="Assignment content" required>
            </label>
    </td></tr><tr><td>
            <input class="btn btn-default btn-lg btn-block" type="submit" value="Add Assignment">
            </td></tr>
    </table>
    </form>
{% endblock %}