{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Average Grade for {{ stats[0][0] }} {{ stats[0][1] }}:</th>

                    </tr>
                </thead>

                    <tbody>

                        <tr>
                            <td>{{ stats[0][3] }}</td>

                        </tr>

                  </tbody>

            </table>
        </form>
{% endblock %}