{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Average Grade for {{ stats[0][0].name }} {{ stats[0][0].surname }}:</th>

                    </tr>
                </thead>

                    <tbody>

                        <tr>
                            {% if stats[0][2] == None %}
                                <td>{{ 'There is no grades to average'}}</td>
                            {% else %}
                                <td>{{ stats[0][2]|round(2) }}</td>
                            {% endif %}
                        </tr>

                  </tbody>

            </table>
        </form>
{% endblock %}