{% extends "base.html" %}
{% block title %}
    Checkpoint statistics for mentors
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Mentor Name</th>
                        <th>Red Cards</th>
                        <th>Yellow Cards</th>
                        <th>Green Cards</th>
                    </tr>
                </thead>
                    <tbody>
                    {% if list_of_statistics %}
                        {% for statistic in list_of_statistics %}
                            <tr>
                                <td>{{ statistic.name }}</td>
                                <td>{{ statistic.red_card }}</td>
                                <td>{{ statistic.yellow_card }}</td>
                                <td>{{ statistic.green_card }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>No data for creating statistics</td>
                            <td>No data for creating statistics</td>
                            <td>No data for creating statistics</td>
                            <td>No data for creating statistics</td>
                        </tr>
                    {% endif %}
                    </tbody>
            </table>
{% endblock %}
