{% extends "base.html" %}
{% block title %}
    Edit student
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="post">
        <table class="table">
            <tr><td><h2 class="content">Edit Student</h2></td></tr>
            <tr>
                <td>
                    <label>Name
                        <input type="text" size="35" class="form-control" name="name" value="{{ student.name }}" required>
                    </label>
                    <label>Surname
                        <input type="text" size="35" class="form-control" name="surname" value="{{ student.surname }}" required>
                    </label>
                    <div>
                    <label>Gender
                        <select class="form-control form-group select" name="gender" required>
                            <option {% if student.gender == "male" %}selected{% endif %}>male</option>
                            <option {% if student.gender == "female" %}selected{% endif %}>female</option>
                            <option {% if student.gender == "not sure" %}selected{% endif %}>not sure</option>
                        </select>
                    </label>
                    </div>
                    <label>Date of birth
                        <input type="date" size="65" class="form-control select" name="birthdate" value="{{ student.birth_date }}" required>
                    </label>
                </td>
                <td>
                    <label>Email
                        <input type="email" size="35" class="form-control" name="email" value="{{ student.email }}">
                    </label>
                    <label>Login
                        <input type="text" size="35" class="form-control" name="login" value="{{ student.login }}" required>
                    </label>
                    <label>Password
                        <input type="password" size="35" class="form-control" name="password" value="{{ student.password }}">
                    </label>
                    <input type="hidden" name="student_id" value="{{ student._id }}">

                </td>
            </tr>
            <tr><td><button type="submit" class="btn btn-default btn-lg btn-block">Update student</button></td></tr>
        </table>

    </form>
{% endblock %}