{% extends "base.html" %}
{% block title %}
    Edit assignment
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="post">
        <table class="table">
            <tr><td colspan="4"><h2>Edit assignment</h2></td></tr>
            <tr>
                <td>
                     <label>Name
                         <input type="text" name="name" size="35" class="form-control" value="{{ assignment.name }}" required>
                     </label>
                     <div>
                        <label>Type
                         <select name="type" required class="form-control form-group select">
                             <option>individual</option>
                             <option>group</option>
                         </select>
                     </label>
                         </div>
                    <label>Max points
                        <input type="number" class="form-control " size="35" name="max_points" value="{{ assignment.max_points }}" required>
                    </label>
                </td>
                <td>
                    <div>
                        <label>Delivery date
                            <input type="date" class="form-control select" name="date" value="{{ assignment.delivery_date }}" required>
                        </label>
                    </div>
                    <label>Content
                        <input type="text" class="form-control" size="35" name="content" value="{{ assignment.content }}" required>
                    </label>
                    <input type="hidden" name="assignment_id" class="form-control" value="{{ assignment.id }}">
                </td>
            </tr>
            <tr><td><input class="btn btn-default btn-lg btn-block" type="submit" value="Update Assignment"></td></tr>
        </table>
    </form>

{% endblock %}