{% extends "base.html" %}
{% block title %}
    Edit student
{% endblock %}
{% block content %}
    {{ super() }}
    <h2 class="content">Edit Student</h2>
    <form method="post" class="manager">
        <div class="form-group">
            <label>Name
                <input type="text" class="form-control" name="name" placeholder="{{ student.name }}" required>
            </label>
        </div>
        <div class="form-group">
            <label>Surname
                <input type="text" class="form-control" name="surname" placeholder="{{ student.surname }}" required>
            </label>
        </div>
        <div class="form-group">
            <label>Gender
                <select class="form-control form-group" name="gender" required>
                    <option selected>male</option>
                    <option>female</option>
                    <option>not sure</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Date of birth
                <input type="date" class="form-control" name="birthdate" placeholder="{{ student.birth_date }}" required>
            </label>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="{{ student.email }}">
        </div>
        <div class="form-group">
            <label>Login
                <input type="text" class="form-control" name="login" placeholder="{{ student.login }}" required>
            </label>
        </div>
        <div class="form-group">
            <label>Password
                <input type="password" class="form-control" name="password" placeholder="{{ student.password }}">
            </label>
        </div>
        <input type="hidden" name="student_id" value="{{ student._id }}">
        <button type="submit" class="btn btn-default button-max-width">Update student</button>
    </form>
{% endblock %}