{% extends "base.html" %}
{% block title %}
    Grade submission
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="post">
        <table class="table">
            <tr><td colspan="2"><h2>Assignment: <strong>{{ assignment.name }}</strong></h2></td></tr>
            <tr><td>Assignment content</td><td>{{ assignment.content }}</td></tr>
            <tr><td>Student submission</td><td>{{ submission.result }}</td></tr>
            <tr><td><input type="number" name="grade" class="form-control" placeholder="grade"></td></tr>
            <input type="hidden" name="submission_id" value="{{ submission.id }}">
            <tr><td><button type="submit" class="btn btn-default btn-lg btn-block">Submit</button></td></tr>
        </table>
    </form>
{% endblock %}