{% extends "base.html" %}
{% block title %}
    Grade submission
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="post">
        <table class="table">
            <tr><td colspan="2"><h2>Checkpoint name: <strong>{{ submission.submissions.name }}</strong></h2></td></tr>
            <tr><td>Student</td><td>{{ submission.student.name }} {{ submission.student.surname }}</td></tr>
            <tr>
                <td>
                    <select name="card">
                        <option>green</option>
                        <option>yellow</option>
                        <option>red</option>
                    </select>
                </td>
            </tr>
            <input type="hidden" name="submission_id" value="{{ submission.id }}">
            <tr><td><button type="submit" class="btn btn-default btn-lg btn-block">Submit</button></td></tr>
        </table>
    </form>
{% endblock %}