{% extends "base.html" %}
{% block title %}
    Grade submission
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <h2>{{ assignment.name }}</h2>
        <p>Assignment content</p>
        <p>{{ assignment.content }}</p>
        <h2>Student answer</h2>
        <p>{{ submission.result }}</p>
        <form method="post">
            <input type="number" name="grade" class="form-control" placeholder="grade">
            <input type="hidden" name="submission_id" value="{{ submission.id }}">
            <button type="submit" class="btn btn-default button-max-width">Submit</button>
        </form>
    {#        <a class="btn btn-default" href="{{ url_for("grade_submission", submission_id=submission.submission_id) }}" role="button">Grade</a>#}
{#        <table class="table">#}
{#                <thead>#}
{#                    <tr>#}
{#                        <th>Index</th>#}
{#                        <th>Assignment name</th>#}
{#                        <th>Assignment delivery date</th>#}
{#                        <th>Student name</th>#}
{#                        <th>Student surname</th>#}
{#                        <th>Submission date</th>#}
{#                        <th>Grade</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                    <tbody>#}
{#                    {% for submission in list_of_submissions %}#}
{#                        <tr>#}
{#                            <td>{{ submission.assignment_id }}</td>#}
{#                            <td>{{ submission.assignment_name }}</td>#}
{#                            <td>{{ submission.assignment_delivery_date }}</td>#}
{#                            <td>{{ submission.student_name }}</td>#}
{#                            <td>{{ submission.student_surname }}</td>#}
{#                            <td>{{ submission.submission_date }}</td>#}
{#                            <td><a class="btn btn-default" href="{{ url_for("grade_submission", submission_id=submission.submission_id) }}" role="button">Grade</a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#            </table>#}
{% endblock %}