<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}
{% block title %}
    Grade statistics for mentors
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
            <table class="table">
                <thead>
                    <tr>
                        <th>Mentor Name</th>
                        <th>Mentor Surname</th>
                        <th>Number of grades</th>
                        <th>Average grade</th>
                    </tr>
                </thead>
                    <tbody>
                    {% if list_of_statistics %}
                    {% for statistic in list_of_statistics %}
                        <tr>
                            {% if statistic[0].name %}
                                <td>{{ statistic[0].name }}</td>
                                <td>{{ statistic[0].surname }}</td>
                                <td>{{ statistic[1]}}</td>
                                {% if statistic[2] == None %}
                                    <td>There is no grades to average</td>
                                {% else %}
                                    <td>{{ statistic[2]|round(2) }}</td>
                                {% endif %}
                            {% else %}
                                <td>No data for creating statistics</td>
                                <td>No data for creating statistics</td>
                                <td>No data for creating statistics</td>
                                <td>No data for creating statistics</td>
                            {% endif %}


                        </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
            </table>
{% endblock %}