{% extends "base.html" %}
{% block title %}
    List of teams
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Team name</th>
                        <th>Student ID</th>
                        <th>Student name</th>
                        <th>Student surname</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for team in list_of_teams %}
                        {% if not team.student_name %}
                        <tr>
                            <td><p class="team">{{ team.team_name }}</p></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><a class="btn btn-default" href="{{ url_for("remove_team", team_name=team.team_name) }}" role="button">Remove</a></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ team.team_name }}</td>
                            <td>{{ team.student_id }}</td>
                            <td>{{ team.student_name }}</td>
                            <td>{{ team.student_surname }}</td>
                            <td><a class="btn btn-default" href="{{ url_for("remove_team", team_name=team.team_name) }}" role="button">Remove</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><a class="btn btn-default" href="{{ url_for("add_new_team") }}" role="button">Add new team</a></td>
                    </tr>
                    </tbody>
            </table>
        </form>
{% endblock %}