{% extends "base.html" %}
{% block title %}
    List checkpoints for submission
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
            <table class="table">
                {% if checkpoints %}
                <thead>
                    <tr><td><h2>List of checkpoints submissions</h2></td></tr>
                    <tr>
                        <th>Name of checkpoint</th>
                        <th>Assignment</th>
                        <th>Student</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for checkpoint in checkpoints %}
                        <tr>
                            <td>{{ checkpoint.submissions.name }}</td>
                            <td>{{ checkpoint.submissions.assignment }}</td>
                            <td>{{ checkpoint.student.name }} {{ checkpoint.student.surname }}</td>
                            <td><a class="btn btn-default" href="{{ url_for("grade_checkpoint", checkpoint_submission_id=checkpoint.id) }}" role="button">Grade student</a></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <h2>No submissions for grade</h2>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
            </table>
{% endblock %}