{% extends "base.html" %}
{% block title %}
    List of mentors
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <a class="btn btn-default" href="{{ url_for("add_new_mentor") }}" role="button">Add new mentor</a>
            <a class="btn btn-default" href="{{ url_for("grade_stats_for_mentors") }}" role="button"> Grade stats</a>
            <a class="btn btn-default" href="{{ url_for("checkpoint_stats_for_mentors") }}" role="button"> Checkpoint stats</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Student</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                {% if list_of_mentors %}
                    <tbody>
                        <tr>
{#                            <td><td><a class="btn btn-default" href="{{ url_for("add_new_mentor") }}" role="button" > Add new student</a></td></td>#}
                        </tr>
                    {% for mentor in list_of_mentors %}
                        <tr>
                            <td>{{ mentor._id }}</td>
                            <td><a href="{{ url_for("view_mentors_details", id=mentor._id) }}">{{ mentor.name }} {{ mentor.surname }}</a></td>
                            <td>
                                <a class="btn btn-default" href="edit_mentor/{{mentor._id}}" role="button"> Edit</a>
                                <a class="btn btn-default" href="{{ url_for("remove_mentor", mentor_id=mentor._id) }}" role="button" onclick="return showConfirmManager()">Remove</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>


        </form>
{% endblock %}