{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Student</th>
                    </tr>
                </thead>
                {% if list_of_students %}
                    <tbody>

                    {% for student in list_of_students %}
                        <tr>
                            <td>{{ student._id }}</td>
                            <td>{{ student.name }} {{ student.surname }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                {% endif %}
            </table>
        </form>
{% endblock %}