{% extends "base.html" %}
{% block title %}
    List checkpoints for submission
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
            <table class="table">
                <thead>
                    <tr><td><h2>List of checkpoints submissions</h2></td></tr>
                    <tr>
                        <th>Name of checkpoint</th>
                        <th>Assignment</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                    <tbody>
                    {% if checkpoints_for_submission %}
                    {% for submission in checkpoints_for_submission %}
                        <tr>
                            <td>{{ submission.name }}</td>
                            <td>{{ submission.assignment }}</td>
                            <td><a class="btn btn-default" href="{{ url_for("grade_checkpoint", checkpoint_assignment_id=submission.id) }}" role="button">Grade students</a></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <h2>No submissions for grade</h2>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
            </table>
{% endblock %}