{% extends "base.html" %}
{% block head %}
    {{ super() }}
    {{ JSGlue.include() }}
{% endblock %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                {% if list_of_assignments %}
                <thead>
                    <tr><td colspan="6"><h2>List of mentors assignments</h2></td></tr>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Max. points</th>
                        <th>Delivery date</th>
                        <th>Content</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for assignment in list_of_assignments %}
                        <tr>
                            <td>{{ assignment.id }}</td>
                            <td>{{ assignment.name }}</td>
                            <td>{{ assignment.type }}</td>
                            <td>{{ assignment.max_points }}</td>
                            <td>{{ assignment.delivery_date }}</td>
                            <td>{{ assignment.content }}</td>
                            <td><a class="btn btn-default" href="{{ url_for("edit_assignment", assignment_id=assignment.id) }}" role="button">Edit</a></td>
                            <td><a class="btn btn-default" href="{{ url_for("remove_assignment", assignment_id=assignment.id) }}" role="button">Remove</a></td>
                        </tr>
                    {% endfor %}
                    <tr><td colspan="8"><a class="btn btn-default btn-lg btn-block" href="{{ url_for("add_new_assignment") }}" role="button">Add new assignment</a></td></tr>
                    </tbody>
                    {% else %}
                    <tr><td><h2>No assignments to display</h2></td></tr>
                {% endif %}
            </table>
        </form>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}