{% extends "base.html" %}
{% block title %}
    List of teams
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr><td><h2>List of teams</h2></td></tr>
                    <tr>
                        <th>Team name</th>
                        <th>Student ID</th>
                        <th>Student name</th>
                        <th>Student surname</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                    <tbody>
                    {% for team in list_of_teams %}
                        {% if not team[1].name %}
                        <tr class="team-name">
                            <td><p class="team">{{ team[0].name }}</p></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><a class="btn btn-default" href="{{ url_for("remove_team", team_name=team[0].name) }}" role="button">Remove team</a></td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ team[0].name }}</td>
                            <td>{{ team[1].id }}</td>
                            <td>{{ team[1].name }}</td>
                            <td>{{ team[1].surname }}</td>
                            <td><a class="btn btn-default" href="{{ url_for("remove_student_from_team", student_id=team[1].id) }}" role="button">Remove student from team</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td><a class="btn btn-default btn-lg btn-block" href="{{ url_for("add_new_team") }}" role="button">Add new team</a></td>
                    </tr>
                    </tbody>
            </table>
        </form>
{% endblock %}