<div class="column margintop20">
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
  <li><a href="{{ url_for("list_teams") }}"><span class="glyphicon glyphicon-chevron-right"></span> List team</a></li>
  <li><a href="{{ url_for("list_students") }}"><span class="glyphicon glyphicon-chevron-right"></span> List Students</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> List assignments</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> List submissions</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> List checkpoints</a></li>
</ul>
</div>