{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Student Statistics for {{ stats.name }} {{ stats.surname }}:</th>

                    </tr>

                    </tr>
                </thead>



                        <tbody>

                            <tr>
                                <td> Number of Grades: {{ stats.number_of_grades }}</td>
                                <td> Average Grade: {{ stats.average_grade }}</td>

                            </tr>

                        </tbody>



            </table>
        </form>
{% endblock %}