<div class="column margintop20">
<ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Home</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> View my grades</a></li>
  <li><a href="{{ url_for("view_my_attendance") }}"><span class="glyphicon glyphicon-chevron-right"></span> View my attendance</a></li>
  <li><a href="{{ url_for("list_assignment") }}"><span class="glyphicon glyphicon-chevron-right"></span> List assignments</a></li>
</ul>
</div>