{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Gender</th>
                        <th>Birth Date</th>
                        <th>Email</th>
                        <th>Login</th>
                        <th>Password</th>
                        <th>User Type</th>

                    </tr>
                </thead>

                    <tbody>

                        <tr>
                            <td>{{ student._id }}</td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.surname }}</td>
                            <td>{{ student.gender }}</td>
                            <td>{{ student.birth_date }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.login }}</td>
                            <td>{{ student.password }}</td>
                            <td>{{ student.user_type }}</td>

                        </tr>

                  </tbody>

            </table>
        </form>
{% endblock %}