{% extends "base.html" %}
{% block title %}
    Submit assignment
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
    <form method="POST">
        <section id="content">
            <h2>{{ assignment.name }}</h2>
            <p>Provide result:<p>
                <input type="text" name="result" placeholder="result">
                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Submit">
                </div>
        </section>
    </form>
{% endblock %}