{% extends "base.html" %}
{% block title %}
    List of teams
{% endblock %}
{% block head %}
{{ super() }}
{{ JSGlue.include() }}
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
            <table class="table">
                <thead>
                <tr><td><h2>Choose team to assign student</h2></td></tr>
                </thead>
                    <tbody>
                    {% for team in list_of_teams %}
                        <tr>
                            <td><button class="btn btn-default btn-lg btn-block" onclick="return assignTeam(this.innerText)">{{ team[0].name }}</button></td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
    <form>
        <input id="student_id" type="hidden" value="{{ student_id }}">
    </form>
{% endblock %}
