{% extends "base.html" %}
{% block title %}
    My grades
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name of assignment</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                {% for assignment in student_grades %}
                    <tbody>
                        <td>{{ assignment.name }}</td>
                        <td>{{ assignment.grade }}</td>
                    </tbody>
                {% endfor %}
            </table>
        </form>
{% endblock %}
