{% extends "base.html" %}
{% block title %}
    List of students
{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block content %}
    {{ super() }}
        <form method="post">
            <table class="table">
                <thead>
                    <tr>
                        <th>My attendance in %</th>
                    </tr>
                </thead>
                {% if attendance %}
                    <tbody>
                        <td>{{ attendance }}</td>
                  </tbody>
                {% endif %}
            </table>
        </form>
{% endblock %}