{% extends "base.html" %}
{% block title %}
    View student details
{% endblock %}
{% block content %}
    <h2 class="content">View student details</h2>
    {{ super() }}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Email</th>
                <th>Login</th>
                <th>Password</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>{{ mentor.name }}</td>
                    <td>{{ mentor.surname }}</td>
                    <td>{{ mentor.gender }}</td>
                    <td>{{ mentor.birth_date }}</td>
                    <td>{{ mentor.email }}</td>
                    <td>{{ mentor.login }}</td>
                    <td>{{ mentor.password }}</td>
                </tr>
          </tbody>
    <a class="btn btn-default" href="{{ url_for("view_mentors_details", mentor_id=mentor._id) }}" role="button">Student statistics</a>
    </table>
{% endblock %}